// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Libre+Baskerville);
@import url(http://fonts.googleapis.com/css?family=Lobster|Dancing+Script|Bangers|Orbitron|Audiowide);

/** body **/

body {
	position: relative;
}
/** navbar **/

.navbar {
	margin: 0px;
	border-bottom: 0px;
}

.navbar-inverse {
	background-color: #222222;
}

.navbar-inverse .navbar-header .navbar-brand {
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 36px;
  font-family: 'Orbitron', sans-serif;
  font-size: 26px;
  font-weight: bold; 
}

.navbar-container-right .navbar-right > li > a {
	color: white;
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	font-weight: bold; 
}

.navbar-container-right .navbar-right > li > a:hover {
	color: black;
}

.container-fluid {
	padding-top: 10px;
}

/** baner **/

.banner {
	background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ),image-url('mike_website_pic1.jpg');   
	height: 680px;
	margin-top: 0px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-content {
	text-align: center;
	font-weight: 50; 
	padding-top: 60px;
	padding-bottom: 150px;
	color: white;
}

.opening-text {
	text-shadow: 1px 1px 1px #666666;
	padding-left: 300px;
	padding-right: 300px;
	font-size: 120px;
	line-height: 115%;
	font-family: 'Orbitron', sans-serif;
	padding-top: 70px;
	font-weight: 100;
}

.sub-opening-text {
	font-size: 20px;
	padding-left: 300px;
	padding-right: 300px;
	font-family: 'Orbitron', sans-serif;
}


/** about page **/

#about {
	height: 680px;
	font-family: 'Rokkitt', serif;
	font-size: 22px;
	padding-left: 100px;
	padding-right: 130px;
	padding-top: 110px;
	text-align: justify;
}

#main-about {
	padding-right: 50px;
}

#aside-about {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	text-align: center;
	font-size: 20px;
	background-color: #222222;
	color: white;
	height: 240px; 
	margin-top: 100px;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/** services **/

#services {
	background-color: #222222;
	color: white;
	font-family: 'Rokkitt', serif;
	padding-bottom: 50px;
	margin: 0px;
}

.event-type {
}

.event-container {
	background-color: white;
	color: #222222;
	text-align: center;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 25px;
	padding-top: 25px;
}

.event-container li {
	text-align: left;
}

.glyphicon {
	font-size: 85px;
}

/** contact **/

#contact {
	color: white;
	background-image: image-url('mike_headshot.jpg');
	height: 680px;	
	padding: 0px;
}

#contact-container {
	padding-top: 80px;
	padding-right: 0px;
}

#contact-info {
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-right: 0px;
	text-shadow: 1px 1px 1px #666666;
	font-size: 40px;
	line-height: 115%;
	font-family: 'Orbitron', sans-serif;
	font-weight: 100;
	background-color: #222222;
	height: 600px;
}

/** row styling - fixing weird white space **/
.row {
	margin: 0px;
}